<header class="toolbar toolbar_header" fxLayout="row" fxLayoutAlign="center center">
  <div class="toolbar__logo" fxFlex.lt-md="80" fxFlex="25" fxLayoutAlign="start center">
    <a href="">
      <img src="./assets/images/hmade_logo_dark.svg" height="36px" alt="logo">
    </a>
  </div>
  <div fxFlex fxHide.lt-md="true">
  </div>
  <div fxShow="true" fxHide.lt-md="true" fxFlex="25" fxLayoutAlign="center center">
    <!-- <a *ngIf="allowTo('notUser')" mat-button [routerLink]="['/', 'user', 'login']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
      <span>Login</span>
    </a> -->
    <a *ngIf="allowTo('guest')" mat-button (click)="logout()">
      <span>Logout</span>
    </a>
    <a *ngIf="allowTo('user')" mat-button [routerLink]="['/', 'dashboard', 'product-form']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
      <span>Dashboard</span>
    </a>
  </div>

  <div class="toolbar__menu-button" fxShow="true" fxHide.gt-sm="true" fxFlex="20" fxLayoutAlign="end center">
    <button mat-button (click)="sidenav.toggle()" aria-label="Menu">
      <mat-icon *ngIf="sidenav.opened">format_indent_increase</mat-icon>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    </button>
  </div>
</header>
<main fxLayout>
  <mat-sidenav-container fxFlex>

    <!-- [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0" -->
    <mat-sidenav class="sidenav" #sidenav position="end" closed role="navigation" mode="over">
      <div class="container">
        <div class="row" fxLayout="row" (click)="sidenav.close()">
          <div class="cell" fxFlex="100" fxLayoutAlign="center">
            <a *ngIf="allowTo('notUser')" [routerLink]="['/', 'user', 'login']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact: false}">
              <span>Login</span>
            </a>
          </div>
          <div class="cell" fxFlex="100" fxLayoutAlign="center">
            <a *ngIf="allowTo('guest')" (click)="logout()">
              <span>Logout</span>
            </a>
          </div>
          <div class="cell" fxFlex="100" fxLayoutAlign="center">
            <a *ngIf="allowTo('user')" [routerLink]="['/', 'dashboard', 'product-form']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact: false}">
              <span>Dashboard</span>
            </a>
          </div>
          <div *ngIf="productsUrl" class="cell" fxFlex="100" fxLayoutAlign="center">
            <app-product-nav (sidenavCloseEmitter)="sidenav.close()"></app-product-nav>
          </div>
        </div>
      </div>


    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer class="toolbar toolbar_footer" fxLayout="row">
  <div class="toolbar__logo" fxLayoutAlign="start center">
    <a href="">
      <img src="./assets/images/hmade_logo_dark.svg" height="36px" alt="logo">
    </a>
  </div>
</footer>