<header class="toolbar toolbar_header" fxLayout="row" fxLayoutAlign="center center">
  <div class="toolbar__logo" fxFlex.lt-md="80" fxFlex="25" fxLayoutAlign="start center">
    <a href="">
      <img src="./assets/images/hmade_logo_dark.svg" height="36px" alt="logo">
    </a>
  </div>
  <div fxFlex fxHide.lt-md="true">
    <!-- {{environment.section.name | translate:environment.section}}
contactTitle | section:
    {
      name: 'contactTitle',
      en: 'Contacts',
      icon: 'fas fa-home fa-2x',
    },

      "contactTitle": "Hello {{en}}", -> Hello Contacts -->




  </div>
  
  <div fxShow="true" fxHide.lt-md="true" fxFlex="50" fxLayoutAlign="end center">
    <!-- <a *ngIf="allowTo('notUser')" mat-button [routerLink]="['/', 'user', 'login']"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: false}">
      <span>Login</span>
    </a> -->

    <a mat-button class="link" [routerLink]="['/', 'feedback']" [routerLinkActive]="['link_active']"
      [routerLinkActiveOptions]="{exact: false}">
      <i class="link__icon far fa-envelope"></i>
      <span class="link__icon-text">{{'feedback' | translate}}</span>
    </a>

    <a *ngIf="allowTo('notUser')" mat-button class="link" [routerLink]="['/', 'user', 'login']"
      [routerLinkActive]="['link_active']" [routerLinkActiveOptions]="{exact: false}">
      <i class="link__icon fas fa-sign-in-alt"></i>
      <span class="link__icon-text">{{'signin' | translate}}</span>
    </a>

    <a *ngIf="allowTo('user')" mat-button class="link" [routerLink]="['/', 'user', 'profile']"
      [routerLinkActive]="['link_active']" [routerLinkActiveOptions]="{exact: false}">
      <img class="link__photo" src="{{user.photoUrl}}" aly="users picture">
      <span class="link__icon-text">{{user.displayName}}</span>
    </a>
    <a *ngIf="allowTo('manager')" mat-button class="link" [routerLink]="['/', 'dashboard', 'product-form']"
      [routerLinkActive]="['link_active']" [routerLinkActiveOptions]="{exact: false}">
      <i class="link__icon fas fa-cogs"></i>
      <!-- <span class="link__icon-text">{{'dashboard' | translate}}</span> -->
    </a>
    <a *ngIf="allowTo('guest')" mat-button class="link" (click)="logout()">
      <i class="link__icon fas fa-door-open"></i>
      <!-- <span class="link__icon-text">{{'logout' | translate}}</span> -->
    </a>
    <a mat-button class="link" (click)="switchLanguage()">
      <i class="link__icon fas fa-globe fa-2x"></i>
      <span class="link__icon-text">{{language}}</span>
    </a>
  </div>
  <div fxShow="true" fxHide.gt-sm="true" fxFlex="20" fxLayoutAlign="end center">
    <button class="link" mat-button (click)="sidenav.toggle()" aria-label="Menu">
      <mat-icon class="link__icon" *ngIf="sidenav.opened">format_indent_increase</mat-icon>
      <mat-icon class="link__icon" *ngIf="!sidenav.opened">menu</mat-icon>
    </button>
  </div>
</header>
<main fxLayout>
  <mat-sidenav-container fxFlex>

    <!-- [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0" -->
    <mat-sidenav class="sidenav" #sidenav position="end" closed role="navigation" mode="over">
      <div class="container">
        <div class="row" fxLayout="row" (click)="sidenav.close()">
          <div *ngIf="productsUrl" class="cell" fxFlex="100" fxLayoutAlign="center">
            <app-product-nav (sidenavCloseEmitter)="sidenav.close()"></app-product-nav>
          </div>
          <!-- <div class="cell" fxFlex="100">
            <a *ngIf="allowTo('notUser')" [routerLink]="['/', 'user', 'login']" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{exact: false}">
              <span>Login</span>
            </a>
          </div> -->
          <div class="cell" fxFlex="100">
            <a mat-button class="link" [routerLink]="['/', 'feedback']" [routerLinkActive]="['link_active']"
              [routerLinkActiveOptions]="{exact: false}">
              <i class="link__icon far fa-envelope"></i>
              <span class="link__icon-text">{{'feedback' | translate}}</span>
            </a>
          </div>

          <div *ngIf="allowTo('notUser')" class="cell" fxFlex="100">
            <a mat-button class="link" [routerLink]="['/', 'user', 'login']" [routerLinkActive]="['link_active']"
              [routerLinkActiveOptions]="{exact: false}">
              <i class="link__icon fas fa-sign-in-alt"></i>
              <span class="link__icon-text">{{'signin' | translate}}</span>
            </a>
          </div>

          <div *ngIf="allowTo('user')" class="cell" fxFlex="100">
            <a mat-button class="link" [routerLink]="['/', 'user', 'profile']" [routerLinkActive]="['link_active']"
              [routerLinkActiveOptions]="{exact: false}">
              <img class="link__photo" src="{{user.photoUrl}}" aly="users picture">
              <span class="link__icon-text">{{user.displayName}}</span>
            </a>
          </div>

          <div *ngIf="allowTo('manager')" class="cell" fxFlex="100">
            <a mat-button class="link" [routerLink]="['/', 'dashboard', 'product-form']"
              [routerLinkActive]="['link_active']" [routerLinkActiveOptions]="{exact: false}">
              <i class="link__icon fas fa-cogs"></i>
              <span class="link__icon-text">{{'dashboard' | translate}}</span>
            </a>
          </div>
          <div *ngIf="allowTo('guest')" class="cell" fxFlex="100">
            <a mat-button class="link" (click)="logout()">
              <i class="link__icon fas fa-door-open"></i>
              <span class="link__icon-text">{{'logout' | translate}}</span>
            </a>
          </div>
          <div class="cell" fxFlex="100">
            <a mat-button class="link" (click)="switchLanguage()">
              <i class="link__icon fas fa-globe fa-1x"></i>
              <span class="link__icon-text">{{language}}</span>
            </a>
          </div>

        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer class="toolbar toolbar_footer" fxLayout="row">
  <div class="toolbar__logo" fxLayoutAlign="start center">
    <a href="">
      <img src="./assets/images/hmade_logo_dark.svg" height="36px" alt="logo">
    </a>
  </div>
</footer>