<header class="toolbar toolbar_header" fxLayout="row" fxLayoutAlign="center center">
  <div class="toolbar__logo" fxFlex.lt-md="80" fxFlex="25" fxLayoutAlign="start center">
    <a href="">
      <img src="./assets/images/hmade_logo_light.svg" height="36px" alt="logo">
    </a>
  </div>
  <div fxFlex fxHide.lt-md="true"></div>
  <!-- <button (click)="statusFB()">Status</button>
  <button (click)="api()">api</button>
  <button (click)="logoutFB()">logout</button>
  <button (click)="loginFB()">login</button> -->
  <div class="toolbar__links" fxShow="true" fxHide.lt-md="true" fxFlex="25" fxLayoutAlign="center center">
    <a *ngIf="!user._id" mat-button class="" [routerLink]="['/', 'user', 'login']" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{exact: false}">
      <span>Login</span>
    </a>
    <a *ngIf="user._id" mat-button class="" (click)="logout()">
      <span>Logout</span>
    </a>

        <a mat-button class="" [routerLink]="['/', 'dashboard']" [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: false}">
          <span>Dashboard</span>
        </a>

  </div>



  <div class="toolbar__menu-button" fxShow="true" fxHide.gt-sm="true" fxFlex="20" fxLayoutAlign="end center">
    <button mat-button (click)="sidenav.toggle()" aria-label="Menu">
      <mat-icon *ngIf="sidenav.opened">format_indent_increase</mat-icon>
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    </button>
  </div>
</header>
<main fxLayout>
  <mat-sidenav-container fxFlex>

    <!-- [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0" -->
    <mat-sidenav class="sidenav" #sidenav position="end" closed role="navigation" mode="over">
      <div fxLayout="column">
        <div class="sidenav__logo" fxFlex fxLayoutAlign="center start">
          <a href="">
            <img src="./assets/images/hmade_logo_light.svg" height="36px" alt="logo">
          </a>
        </div>
        <div class="sidenav__links" fxFlex fxLayoutAlign="center center">
          <a class="" [routerLink]="['/', 'user', 'login']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: false}">
            <span>Login</span>
          </a>
        </div>
      </div>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="container-h container-v">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
<footer class="toolbar toolbar_footer" fxLayout="row" fxLayoutAlign="center center">
  Footer
  <div style="font-size: 9px;">{{user | json}}</div>
</footer>