<div class="container">
  <div class="row" fxLayout="row">
    <div class="cell" fxFlex="25"></div>
    <div class="cell" fxFlex="50">
      <h2 class="mat-h2">Редагувати</h2>

      <form [formGroup]="productForm" #productFormDirective="ngForm" novalidate>
        <div class="container">
          <div class="row" fxLayout="column" fxLayout.gt-xs="row">
            <div formArrayName="parents" class="cell" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="25"
              *ngFor="let categoryBlock of productForm.get('parents')['controls']; let i = index">
              <mat-select placeholder="Виберіть категорію" formControlName="{{i}}" required
                (selectionChange)="onSelectCategory($event, i)">
                <mat-option *ngFor="let child of children[i]" [value]="child._id">
                  {{child.name}}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="row">
            <div class="cell" fxFlex="100">
              Артикул: {{this.productForm.get('_id').value}}
            </div>
            <div class="cell" fxFlex="50" fxLayoutAlign="start center">
              <label class="item">Публікувати? </label>
              <mat-radio-group formControlName="display" class="item">
                <mat-radio-button class="item" [value]="true">Так</mat-radio-button>
                <mat-radio-button class="item" [value]="false">Ні</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="cell" fxFlex="50">
              <mat-form-field fxFlex>
                <input matInput placeholder="Назва" formControlName="name">
                <button mat-button *ngIf="productForm.get('name').value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="clearNameField()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="cell" fxFlex="100" fxLayoutAlign="center center">
              <div class="pictureForm" fxLayoutAlign="center center">
                <img class="pictureForm__picture" *ngIf="productForm.get('picture').value" src="{{ productPicture.link + '/' +
                                                                   productForm.get('picture').value}}" alt="Picture">
                <img class="pictureForm__picture" *ngIf="!productForm.get('picture').value" src="{{ productPicture.link + '/' +
                                                                  environment.defaults.productPicture}}" alt="Picture">
                <input #inputPictureDirective type="file" (change)="addPicture($event)"
                  accept=".jpg, .jpe, .jpeg, .bmp, .webp, .png, .gif, .svg" style="display:none;">
                <mat-spinner *ngIf="processingLoadPicture" class="addPicture__spinner" [diameter]="24"></mat-spinner>
                <button mat-mini-fab color="primary" *ngIf="!processingLoadPicture" type="button" aria-label="add"
                  (click)="inputPictureDirective.click();" [disabled]="processingLoadPicture">
                  <mat-icon *ngIf="!productForm.get('picture').value && !processingLoadPicture">add</mat-icon>
                  <mat-icon *ngIf="productForm.get('picture').value && !processingLoadPicture">redo</mat-icon>
                </button>
              </div>
            </div>

            <div class="cell" fxFlex="50" fxLayoutAlign="center">
              <button mat-raised-button color="primary" (click)="submitProductForm()"
                [disabled]="!productForm.valid || processingLoadPicture">OK</button>
            </div>
            <div class="cell" fxFlex="50" fxLayoutAlign="center">

              <button mat-raised-button (click)="resetProductForm()" [disabled]="processingLoadPicture">Reset</button>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>