<mat-sidenav-container fxFlex>
  <mat-sidenav class="sidenav" #dashboardSidenav position="start" closed role="navigation" mode="side" (click)="dashboardSidenav.close()">
    <div class="container">
      <div class="row" fxLayout="row">
        <div class="cell" *ngFor="let dashboardRootMenuItem of dashboardRootMenu" fxFlex="100" fxLayoutAlign="center">
          <a class="" [routerLink]="['/', 'dashboard', dashboardRootMenuItem._id]" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: false}">
            <span>{{dashboardRootMenuItem.name}}</span>
          </a>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container-h container-v">
      <div class="container">
        <div class="row">
          <div class="cell" fxShow="true" fxFlex="100" fxLayoutAlign="start center">
            <button mat-button (click)="dashboardSidenav.toggle()" aria-label="Menu">
              <span *ngIf="dashboardSidenav.opened"><i class="fas fa-chevron-left"></i></span>
              <span *ngIf="!dashboardSidenav.opened"><i class="fas fa-ellipsis-h"></i></span>
            </button>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>