<div class="container">
  <div class="row" fxLayoutAlign="center start">
    <div class="cell" fxLayoutAlign="center">
      <mat-card class="profile">
        <mat-card-header>
          <mat-card-title>{{user.displayName}}</mat-card-title>
          <mat-card-subtitle>{{user.provider}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{user.photoUrl}}" alt="Users picture">

        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
