<div *ngIf="topProgressBarActive" class="progress-bar">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>

<div class="container-h container-v">
  <div class="container">

    <div class="row" fxLayout="row">
      <div class="container" fxFlex="100">
        <div class="row" fxLayout="row">
          <div class="cell" fxFlex="100">
            <app-product-breadcrumb></app-product-breadcrumb>
          </div>
        </div>
      </div>
      <div class="container" fxHide.lt-md fxFlex.md="22" fxFlex.gt-md="20">
        <div class="row" fxLayout="row">
          <div class="cell" fxFlex="100">
            <app-product-nav></app-product-nav>
          </div>
        </div>
      </div>
      <div class="container" fxFlex.lt-md="100" fxFlex.md="78" fxFlex.gt-md="80">
        <div class="row" fxLayout="row">


          <div *ngFor="let product of products" fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="33.3" fxFlex.gt-md="33.3"
            class="cell">
            <app-product-item [product]="product" [loading]="loading"></app-product-item>
          </div>

        </div>
      </div>



    </div>
  </div>

</div>

<div *ngIf="!topProgressBarActive" class="progress-bar">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>