<div class="progress-bar">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
<div class="container-h">
  <div class="container">
    <div class="row" fxLayout="row">
      <div class="cell" fxFlex="100">
        <app-product-breadcrumb></app-product-breadcrumb>
      </div>
      <div class="cell" fxHide.lt-md fxFlex.md="25" fxFlex.gt-md="20">
        <router-outlet></router-outlet>
      </div>
      <div class="cell_full-width" fxFlex.lt-md="100" fxFlex.md="75" fxFlex.gt-md="80">
        <div class="container">
          <div class="row" fxLayout="row">
            <div *ngFor="let product of products" class="cell_product animationAppear05s" fxFlex.xs="100"
              fxFlex.sm="50" fxFlex.md="33.3" fxFlex.lg="25" fxFlex.xl="20">
              <app-product-item [product]="product" [loading]="loading"></app-product-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container-h">
  <div class="container">
    <div class="row" fxLayout="row">

      <div class="container" fxHide.lt-md fxFlex.md="20" fxFlex.gt-md="15">
        <div class="row" fxLayout="row">
          <div class="cell" fxFlex="100">
          </div>
        </div>
      </div>
      <div class="container">
      
      </div>
    </div>
  </div>
</div> -->

<div *ngIf="!topProgressBarActive" class="progress-bar">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>