<div *ngIf="product" class="product" fxLayout="column">
  <img class="product__picture" fxFlex [src]="productPicture.link + '/' + product.picture" alt="product picture">
  <div *ngIf="product.name" class="product__name">
    <div class="container">
      <div class="row" fxLayout="row" fxFlex>
        <div class="cell" fxFlex fxLayoutAlign="center">
          <span>{{product.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="allowTo('manager')" class="product__editor" fxFlex>
    <button mat-button (click)="edit()">edit</button>
  </div>
  <div class="product__inf">
    <div class="container">
      <div class="row" fxLayout="row" fxFlex>
        <div class="cell" fxFlex="35" fxLayoutAlign="center">
          <span>
            <i class="item far fa-eye"></i>
            <span class="item">{{product.views}}</span>
          </span>
        </div>
        <div class="cell" fxFlex="65" fxLayoutAlign="center">
          <span>
            <i class="item fa fa-calendar"></i>
            <span class="item">{{product.createdAt | date: 'dd-MM-yyyy'}}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>