<div *ngIf="product" class="product" fxLayout="column">
  <img class="product__picture" fxFlex (click)="openDialog()"
  [src]="productPicture.link + '/' + product.picture" [alt]="product.description || 'product picture'">
  <div *ngIf="allowTo('manager')" class="product__editor" fxLayout="row">
    <button mat-button (click)="edit()" fxFlex>Редагувати</button>
    <button mat-button (click)="deleteProduct()" fxFlex>Видалити</button>
  </div>
  <div class="product__info" fxLayout="row">
    <div class="cell product__info-main" fxFlex="50">
      <p>
        <i class="item far fa-eye"></i>
        <span class="item">{{product.views}}</span>
      </p>
      <p>
        <i class="item fa fa-calendar"></i>
        <span class="item">{{product.createdAt | date: 'dd-MM-yy'}}</span>
      </p>
    </div>
    <div class="cell product__info-name" fxFlex="50" fxLayoutAlign="center center">
      <span>{{product.name}}</span>
    </div>
  </div>
</div>