<div class="progress-bar">
  <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
</div>
<div class="container-h container-v">
  <div class="container">

    <div class="row">
      <div class="cell" fxHide.lt-md fxFlex.gt-xs="10" fxFlex.gt-md="20"></div>
      <div class="cell" fxFlex.lt-md="100" fxFlex.gt-xs="80" fxFlex.gt-md="60">

        <form class="form" #feedbackFormDirective="ngForm" [formGroup]="feedbackForm" novalidate>
          <div class="container">

            <div class="row">

              <div class="cell" fxFlex="100" fxLayoutAlign="center">
                <img src="./assets/images/hmade_logo_dark.svg" width="367px">
              </div>
              <div class="cell" fxFlex="100" fxLayoutAlign="center">
                <h1 class="h1"><i class="icon far fa-comment"></i> {{'headings.feedback' | translate}}</h1>
              </div>
              <div class="cell" fxFlex="100">
                <div class="container-h">
                  <div class="row" fxLayout="row">
                    <div class="cell" fxLayoutAlign="center center">
                      <i class="icon far fa-envelope"></i>
                      <!-- <mat-icon class="mat-18" color="primary">mail</mat-icon> -->
                    </div>
                    <div class="cell" fxFlex>
                      <mat-form-field fxFlex>

                        <textarea rows="5" matInput placeholder="{{'feedbackForm.message' | translate}}"
                          formControlName="message" required></textarea>
                        <mat-error *ngIf="(feedbackForm.get('message').errors?.minlength ||
                                                                  feedbackForm.get('message').errors?.maxlength ||
                                                                  feedbackForm.get('message').errors?.required) &&
                                                                  feedbackForm.get('message').touched">
                          {{'errors.form.length' | translate:({minLength: 3, maxLength: 500})}}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>


              <div class="cell" fxFlex="100">
                <div class="container-h">
                  <div class="row" fxLayout="row">
                    <div class="cell" fxLayoutAlign="center center">
                      <i class="icon fas fa-signature"></i>
                      <!-- <mat-icon class="mat-18" color="primary">account_circle</mat-icon> -->
                    </div>
                    <div class="cell" fxFlex>
                      <mat-form-field fxFlex>
                        <input matInput placeholder="{{'feedbackForm.name' | translate}}" formControlName="name"
                          required>
                        <mat-error *ngIf="feedbackForm.get('name').errors?.required &&
                                              feedbackForm.get('name').touched">
                          <span translate>errors.form.required</span>
                          <span translate>feedbackForm.name</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cell" fxFlex="100">
                <div class="container-h">
                  <div class="row" fxLayout="row">
                    <div class="cell" fxLayoutAlign="center center">
                      <!-- <mat-icon class="mat-18" color="primary">contacts</mat-icon> -->
                      <i class="icon far fa-address-card"></i>
                    </div>
                    <div class="cell" fxFlex>
                      <mat-form-field fxFlex>
                        <input matInput placeholder="{{'feedbackForm.contacts' | translate}}" formControlName="contacts"
                          required>
                        <mat-error *ngIf="feedbackForm.get('contacts').errors?.required &&
                                                              feedbackForm.get('contacts').touched">
                          <span translate>errors.form.required</span>
                          <span translate>feedbackForm.contacts</span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>

              <div class="cell" fxFlex="100">
                <div class="container-h" fxLayoutAlign="center center">
                  <re-captcha [ngClass]="{'display-none':
                      !feedbackForm.get('name').valid || !feedbackForm.get('contacts').valid ||
                      !feedbackForm.get('message').valid}" [formControlName]="'recaptcha'"
                    siteKey="{{environment.recaptchaSiteKey}}">
                  </re-captcha>
                </div>
              </div>

              <div class="cell" fxFlex="100">
                <div class="container-h form__button-wrapper" fxLayoutAlign="center">
                  <button mat-button aria-label="Send message" class="link"
                    [disabled]="!feedbackForm.valid || processing" (click)="onFeedbackFormSubmit()">
                    <i class="link__icon fas fa-share"></i>
                    <span class="link__icon-text">{{'buttons.send' | translate}}</span>
                  </button>

                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="progress-bar">
  <mat-progress-bar *ngIf="processing" mode="indeterminate"></mat-progress-bar>
</div>